<!doctype html>
<html>
<head><title>backlogs</title></head>
<body>
p{color:green;}
body{color:blue;background-image: url("1.jpg.jpg");background-repeat: no-repeat;background-size: cover;}
h1{color:red;font-weight: bolder;font-size: 40px;}
</body>
</html>